{% extends "base.html" %}

{% block content %}

<section class="nes-container is-dark with-title">
    <p>Criando Missão</p>
    <form action="{{ url_for('main.create_task') }}" method="POST">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="hero_name" value="{{ hero_name }}">
        
        <label>Título da Missão:</label>
        <input type="text" name="title" class="nes-input">
        <label>Descrição da Missão:</label>
        <input type="text" name="description" class="nes-input">
        <label>XP:</label>
        <input type="text" name="xp" class="nes-input">
        <label>Ouro:</label>
        <input type="text" name="gold" class="nes-input">
        
        <button type="submit" class="nes-btn is-success">Publicar no Mural</button>
    </form>
</section>
{% endblock %}