{% extends "base.html" %}

{% block content %}

<section class="nes-container is-dark with-title">
    <a href="{{ url_for('main.dashboard', user_id=user_id) }}" class="nes-btn is-primary">MURAL DE MISSÕES</a>
    <p>Detalhes da Missão</p>
    <form action="{{ url_for('main.get_task_details') }}" method="POST">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="hidden" name="task_id" value="{{ task.id }}">
        
        <label>Título da Missão:</label>
        <input type="text" name="title" class="nes-input" value="{{ task.title }}">
        <label>Descrição da Missão:</label>
        <input type="text" name="description" class="nes-input" value="{{ task.description }}">
        <label>XP:</label>
        <input type="text" name="xp" class="nes-input" value="{{ task.xp_reward }}">
        <label>Ouro:</label>
        <input type="text" name="gold" class="nes-input" value="{{ task.gold_reward }}">
        
        <button type="submit" class="nes-btn is-success">Atualizar Missão no Mural</button>
    </form>
</section>
{% endblock %}